<div class="sidebar">
    <div class="title-menu">
        <h6>LIBRARY</h6>
    </div>

    <div class="playlists">
        <a href="#" class="icon"><img src="static/icons/playlist.png" alt="" class="icon-sidebar">
            <span>Playlists</span>
        </a>
    </div>

    <div class="artist">
        <a href="#" class="icon">
            <img src="static/icons/artist.png" class="icon-sidebar" alt="">
            <span>Artists</span>
        </a>
    </div>

    <div class="album">
        <a href="#" class="icon">
            <img src="static/icons/album.png
            " class="icon-sidebar" alt="">
            <span>Albums</span>
        </a>
    </div>

    <div class="songs">
        <a href="#" class="icon">
            <img src="static/icons/music.png" class="icon-sidebar" alt="">
            <span>Songs</span>
        </a>
    </div>
</div>