{{>head}}

<div class="container">
    <div class="row" id="">
        <div class="col-2" id="sidebar-index">
            {{>sidebar}}
        </div>


        {{!-- first row --}}
        <div class="col-10">
            <div class="title-app">
                <h6>Lets's Play Music</h6>
                <h1>Music App</h1>


            </div>

            {{!-- second row --}}
            <div class="row" id="cover-img">
                <div class="col-5" alt="">
                    <div class="img-cover">
                        <img src="/static/img/coverImg.jpg">
                    </div>
                </div>

                <div class="col">
                    <div class="list-music">
                        <ul>
                            <li class="list">
                                <img src="" clas="img-thumbnail" alt="">
                                <h5>Work</h5>
                                <p>Rihana</p>
                            </li>

                            <li class="list">
                                <img src="" clas="img-thumbnail" alt="">
                                <h5>Work</h5>
                                <p>Rihana</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {{!-- thrid row card music --}}
            <div class="row" id="bg-card">
                <div class="col info">
                    <div class="card" style="width:;">
                        <div class="card-body">
                            <h5 class="card-title">Playlist title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Playlist subtitle</h6>
                            <p class="card-text"></p>
                            <a href="#" class="card-link">Playlist link</a>
                        </div>
                    </div>
                </div>

                <div class="col info">
                    <div class="card" style="width:;">
                        <div class="card-body">
                            <h5 class="card-title">Playlist title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Playlist subtitle</h6>
                            <p class="card-text"></p>
                            <a href="#" class="card-link">Playlist link</a>
                        </div>
                    </div>
                </div>

                <div class="col info">
                    <div class="card" style="width:;">
                        <div class="card-body">
                            <h5 class="card-title">Playlist title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Playlist subtitle</h6>
                            <p class="card-text"></p>
                            <a href="#" class="card-link">Playlist link</a>
                        </div>
                    </div>
                </div>

                <div class="col info">
                    <div class="card" style="width:;">
                        <div class="card-body">
                            <h5 class="card-title">Playlist title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Playlist subtitle</h6>
                            <p class="card-text"></p>
                            <a href="#" class="card-link">Playlist link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}